<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">

    <meta name="image" content="https://whatsapp-anyone.web.app/statics/app-logo-128x128.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="WhatsAppAnyone">
    <meta itemprop="description" content="Send WhatsApp messages to anyone. Including people not in your contact list and without saving the numbers.">
    <meta itemprop="image" content="https://whatsapp-anyone.web.app/statics/app-logo-128x128.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="WhatsAppAnyone">
    <meta name="twitter:description" content="Send WhatsApp messages to anyone. Including people not in your contact list and without saving the numbers.">
    <meta name="twitter:image:src" content="https://whatsapp-anyone.web.app/statics/app-logo-128x128.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="WhatsAppAnyone">
    <meta name="og:description" content="Send WhatsApp messages to anyone. Including people not in your contact list and without saving the numbers.">
    <meta name="og:image" content="https://whatsapp-anyone.web.app/statics/app-logo-128x128.png">
    <meta name="og:url" content="https://whatsapp-anyone.web.app">
    <meta name="og:site_name" content="WhatsAppAnyone">
    <meta name="og:type" content="website">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
